
.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    
}

header {
    width: 100%;
    background: #0000FF;
    font-family: 'Anton';
}

.text {
    text-decoration: none;
    color: white;
    font-size: 50px;
}